/* IMPORTANDO A FONTE DAS LETRAS DO google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*DEFINE AS CONFIGURAÇÕES EM TODOS ELEMENTOS DA PÁGINA*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/* CRIANDO VARIÁVEIS*/
:root{
    --cor01: #8640af;
    --cor02: #945fb3;
    --cor03: #ceaee0;
    --branca: #ffffff;
}

/*FORMATANDO A TAG main PELO ID GERAL*/
#geral{
    margin: 20px;

}

/* FORMATANDO O CABEÇALHO*/
#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  20px;
    height: 100px;
    
}

/*CONFIGURANDO MENU NA HORIZONTAL*/
#menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

#menu ul img{
    width: 25px;
    height: 25px;
}

/* FORMATANDO SECTION pesquisa*/
#pesquisa{
    height: 200px;
    background-color: var(--cor01);
}

#pesquisa input{
    width: 700px;
    height: 80px;
    background-color: var(--branca);
    border-radius: 8px;
}